.DS_Store
.env.*.local
.env.local
/.svelte-kit
/build
/package
/release
build.zip
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Copied in vite.config.ts
static/tinymce
lib/utils/timeZoneOffset.ts
